{% extends "layouts/base.html" %}

{% block title %} 基本設定 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<link type="text/css" href="/static/assets/css/custom.css" rel="stylesheet">{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="/DashBoard.html">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/DashBoard.html">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page">基本設定</li>
                </ol>
            </nav>
            <h2 class="h4">基本設定</h2>
            <p class="mb-0">機器初始化設定</p>
        </div>

    </div>
    
    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">一般設定</h2>
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="pjID">Project ID</label>
                                <input class="form-control" id="pjID" type="text" placeholder="Enter your Project ID" maxlength="8" value={{ProjID}}>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="STID">STID</label>
                                <input class="form-control" id="STID" type="text" placeholder="Enter your STID" maxlength="8" value={{STID}}>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="Address">Address</label>
                                <input class="form-control" id="Address" type="text" placeholder="Enter your 感測器位置" value={{Address}}>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="Address">Lng</label>
                                <input class="form-control" id="Lng" type="text" placeholder="Enter your 經度" value={{Lng}}>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div>
                                <label for="Address">Lat</label>
                                <input class="form-control" id="Lat" type="text" placeholder="Enter your 緯度" value={{Lat}}>
                            </div>
                        </div>
                    </div>
                    <h2 class="h5 my-4">資料傳輸位置</h2>
                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <label for="Area">Area</label>
                            <select class="form-select mb-0" id="Area" aria-label="Gender select example">
                                <option >無</option>
                                <option value="1">捷思伺服器</option>
                                <option selected value="2">透過接收程式</option>
                            </select>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="sendip">IP</label>
                                <input class="form-control" id="sendip" type="text" placeholder="127.0.0.1" value={{IP}}>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="sendport">PORT</label>
                                <input class="form-control" id="sendport" type="tel" placeholder="3333" value={{PORT}}>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit" id="submitbtn">儲存</button>
                        
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit" id="connectbtn">
                        <svg class="icon icon-xs " fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>
                        連線測試
                        </button>
                    </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body border-0 shadow mb-4">
                        <h2 class="h5 mb-4">Google map</h2>
                        <div>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-bulma@4/bulma.css" rel="stylesheet">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>


<script>
    var stid = document.getElementById("STID");
    var pjid = document.getElementById("pjID");
    var address = document.getElementById("Address");
    var Lng = document.getElementById("Lng");
    var Lat = document.getElementById("Lat");
    var area = document.getElementById("Area");
    var ip = document.getElementById("sendip");
    var port = document.getElementById("sendport");
    var submitbtn = document.getElementById("submitbtn");
    var contentbtn = document.getElementById("connectbtn");
    
    const Toast = Swal.mixin({
        toast: true,
        position: 'top',
        showConfirmButton: false,
        timer: 3000,
        onOpen: toast => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      })

    submitbtn.addEventListener("click", function() {
      axios
        .post("./Inpsetting/", { pjid: pjid.value,stid: stid.value,address:address.value,Lng:Lng.value,Lat:Lat.value,area:area.value,ip:ip.value,port:port.value })
        .then(function (resp) {
            Toast.fire({
                icon: 'success',
                title: '儲存成功！'
              })
            console.log(resp)
        })
        .catch(function (err) {
            Toast.fire({
                icon: 'error',
                title: '儲存失敗！'
              })
            console.log(err);
        });
    });

    contentbtn.addEventListener('click',function(){
        axios
        .post("./connect_server/",{ip:ip.value,port:port.value})
        .then(function (resp) {
            Toast.fire({
                icon: 'success',
                title: '連接成功！'
              })
            console.log(resp)
        })
        .catch(function (err) {
            Toast.fire({
                icon: 'error',
                title: '連接失敗！'
              })
            console.log(err);
        });
    })

   
</script>
<script>
    function initMap() {
        axios
        .get("./GetLngLat/")
        .then(function(resp){
            var corrd = {lat: resp.data["lat"], lng: resp.data["lng"]};
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: corrd
            });
            var marker = new google.maps.Marker({
            position: corrd,
            map: map,
            title:'感測器位置'
            });
        })
        .catch(function(err){
            console.log(err)
        })

    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjIk7_LowrKJYnmDOyVtlWqGyf496g58U&callback=initMap">
</script>


{% endblock javascripts %}
